@use '../partials/mixins' as *;
@use '../partials/variables' as *;

.header {
  height: 100vh; 
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background: $color-dark-2;
}

.rightside-icons {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .header-content {
    display: flex;
    flex-direction: column;
    height: 100%; 
    min-height: 72px; 
  }

  .rightside-icons {
    flex-direction: column;
  }

}